a:link, a:visited {
  height: 28px;
  vertical-align: bottom;
  font-weight: bold;

  display: inline-block;
}

/*
a:link, a:visited {
  height: 28px;
  vertical-align: bottom;
  background-color: #00a;
  color: white;
  font-weight: bold;

  !* border-radius: 5px; *!
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
}



a:hover, a:active {
  text-decoration: none;
  background-color: #00aa33;
  color: white;
}*/
