/*Backgrounds*/
.bg-dark{
    background: black;
}
.bg-darkblue1{
    background-color: #4444aa;;
}
.bg-darkblue2{
    background-color:#0000aa;
}

.bg-greyblue{
    background-color: #77a;
}

.bg-purple{
    background-color: #b91f91;
}
.bg-gold{
    background-color: goldenrod;
}

.bg-orange{
    background-color:#FF9966;
}
.bg-yellow{
    background-color: yellow;
}

.bg-green{
    background-color: #00aa33;
}

.bg-greenyellow{
    background-color: greenyellow;
}

.bg-gainsboro{
    background-color:gainsboro;
}

.bg-middlegrey{
    background: #e0e0e0 ;
}
.bg-ligthgrey{
    background: lightgray ;
}
/*Backgroung colors*/