body {
  margin: 0 auto !important;
}

/*
body {
  margin: 0 auto;
  border-top: 2px ;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  color: white;
  background: #e0e0e0 ;
}*/
