$breakpoint : (
        handset-sm-min:0,
        handset-sm-max:359,
        handset-sm-columns:4,
        handset-sm-margins:16,
        handset-sm-gutters:16,
        handset-md-min:handset-sm-max + 1,
        handset-md-max:479,
        handset-md-columns:4,
        handset-md-margins:16,
        handset-md-gutters:16,
        handset-lg-min:handset-sm-max + 1,
        handset-lg-max:599,
        handset-lg-columns:4,
        handset-lg-margins:16,
        handset-lg-gutters:16,
        tablet-sm-min:handset-lg-max + 1,
        tablet-sm-max:599,
        tablet-sm-columns:4,
        tablet-sm-margins:16,
        tablet-sm-gutters:16,
        tablet-md-min:tablet-sm-max + 1,
        tablet-md-max:719,
        tablet-md-columns:8,
        tablet-md-margins:16,
        tablet-md-gutters:16,
        tablet-lg-min:tablet-md-max + 1,
        tablet-lg-max:839,
        tablet-lg-columns:8,
        tablet-lg-margins:16,
        tablet-lg-gutters:16,
        pc-sm-min:tablet-md-max + 1,
        pc-sm-max:839,
        pc-sm-columns:8,
        pc-sm-margins:24,
        pc-sm-gutters:24,
        pc-md-min:pc-sm-max + 1,
        pc-md-max:959,
        pc-md-columns:12,
        pc-md-margins:24,
        pc-md-gutters:24,
        pc-lg-min:pc-md-max + 1,
        pc-lg-max:1023,
        pc-lg-columns:12,
        pc-lg-margins:24,
        pc-lg-gutters:24,
        pc-xl-min:pc-lg-max + 1,
        pc-xl-max:1279,
        pc-xl-columns:12,
        pc-xl-margins:24,
        pc-xl-gutters:24,
        pc-xl-2-min:pc-xl-max + 1,
        pc-xl-2-max:1439,
        pc-xl-2-columns:12,
        pc-xl-2-margins:24,
        pc-xl-2-gutters:24,
        pc-xl-3-min:pc-xl-2-max + 1,
        pc-xl-3-max:1599,
        pc-xl-3-columns:12,
        pc-xl-3-margins:24,
        pc-xl-3-gutters:24,
        pc-xl-4-min:pc-xl-3-max + 1,
        pc-xl-4-max:1919,
        pc-xl-4-columns:12,
        pc-xl-4-margins:24,
        pc-xl-4-gutters:24,
        pc-xl-5-min:pc-xl-4-max + 1,
        pc-xl-5-max:3839,
        pc-xl-5-columns:12,
        pc-xl-5-margins:24,
        pc-xl-5-gutters:24,
);


