body {

    height: 100vh;
}

h1 {
    text-align: center;
    margin: 40px 0;
}
.modal_container{
    display: inline-block;
}

.modal_trigger {
   /* width: 10%;*/
    margin: 1em;
    background: rgba(255,255,255,0);
    text-align: center;

}

.button {
    font-size: 0.7em;
    color: white;
    background: #06D85F;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;

}
.button:hover {
    background: #06D85F;
    color: white;
}

.button2 {

    font-size: 0.7em;
    padding-top: 15px;
    color: #f00;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button2:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    border-bottom: black 1px solid;
    }
.popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: #9F9F9F 3px 2px 2px;
    font-size: 20px;
    text-decoration: none;
    padding: 0 5px 3px 5px;
    background-color: red;
    color: white;
}
.popup .close:hover {
    color: red;
    background-color: white;
    font-weight: bold;
}
.popup .modal_content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}