.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-start {
    align-content: flex-start;
}

.flex-end {
    align-content: flex-end;
}

.flex-valign-start {
    align-self: flex-start;
}

.flex-valign-end {
    align-self: flex-end;
}

.flex-valign-center {
    align-self: center;
}


.grow-1 {
    flex-grow: 1;
}