/*Complete*/
.pc-5x {
    padding: 5px;
}

.pc-10x {
    padding: 10px;
}

.pc-15x {
    padding: 15px;
}

.pc-20x {
    padding: 20px;
}

.pc-25x {
    padding: 25px;
}

.pc-30x {
    padding: 30px;
}

/*Complete*/
/*TOP*/
.pt-5x {
    padding: 5px;
}

.pt-10x {
    padding: 10px;
}

.pt-15x {
    padding: 15px;
}

.pt-20x {
    padding: 20px;
}

.pt-25x {
    padding: 25px;
}

.pt-30x {
    padding: 30px;
}

/*TOP*/
/*Bottom*/
.pb-5x {
    padding: 5px;
}

.pb-10x {
    padding: 10px;
}

.pb-15x {
    padding: 15px;
}

.pb-20x {
    padding: 20px;
}

.pt-25x {
    padding: 25px;
}

.pb-30x {
    padding: 30px;
}

/*Bottom*/
/*Right*/
.pr-5x {
    padding: 5px;
}

.pr-10x {
    padding: 10px;
}

.pr-15x {
    padding: 15px;
}

.pr-20x {
    padding: 20px;
}

.pr-25x {
    padding: 25px;
}

.pr-30x {
    padding: 30px;
}

/*Right*/
/*Left*/
.pl-5x {
    padding: 5px;
}

.pl-10x {
    padding: 10px;
}

.pl-15x {
    padding: 15px;
}

.pb-20x {
    padding: 20px;
}

.pl-25x {
    padding: 25px;
}

.pl-30x {
    padding: 30px;
}

/*Left*/


.px-5x {
    padding: 0 5px;
}

.px-10x {
    padding: 0 10px;
}

.px-15x {
    padding: 0 15px;
}

.px-20x {
    padding: 0 20px;
}

.px-25x {
    padding: 0 25px;
}

.px-30x {
    padding: 0 30px;
}

.py-5x {
    padding: 5px 0;
}

.py-10x {
    padding: 10px 0;
}

.py-15x {
    padding: 15px 0;
}

.py-20x {
    padding: 20px 0;
}

.py-25x {
    padding: 25px 0;
}

.py-30x {
    padding: 30px 0;
}