/*Table*/
.div-table {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
}
.large-auto{
    width: auto;
}
.large-full{
    width:100%;
}

.large-75{
    width:75%
}

.large-half{
    width:50%
}

.large-40{
    width:40%
}

.large-30{
    width:30%
}
.large-25{
    width:25%
}

.large-20{
    width:20%
}

.large-15{
    width:15%
}

.large-10{
    width:10%
}
.large-5{
    width:5%
}
/*Legend*/
.legend-top {display: table-caption;caption-side: top;padding: 0.5rem}
.legend-top-colors{
    background-color:#4444aa;
    color: white;font-weight:bold;
}
.legend-container{
    display: flex; flex-direction: row; justify-content: space-between;
}
.legende_left {display:flex; flex-direction: row; padding-right: 1em;}
.legende_right {display:flex; flex-direction: row;padding-right: 1em;}
.legend-item{
    display: inline;
}
.legend-bottom {display: table-caption;caption-side: bottom;}
.legende_bottom_left {display: table-caption;caption-side: bottom;text-align: left;}
.legende_bottom_right {display: table-caption;caption-side: bottom;text-align: right;}

/*Table Head*/
.div-head {display: table-header-group;}/*text-align:center;*/

/*Table Row*/
.div-row {display: table-row;}
.div-row-odd-colors{
    background: #7777aa;
    color: white;
}

.div-row-even-colors{
    background: #5555aa;color: white;
}

.div-row-head-colors{
    background-color: #0000a8;
    color:white;
}
.div-col {display: table-column;}
.div-col:hover{
    background-color: #00aa33;
    cursor:pointer;color: white
}
.div-row:hover {background: #00aa33;cursor:pointer;color: white }

/*Table Column*/

.div-corp {display: table-row-group }
.div-colgroup {display: table-column-group;}

/*Table Cell*/
.div-cell {
    display: table-cell;padding: 0.5rem; text-align: center;/*border: 1px solid #999;*/
}
/*Table Foot*/
.div-foot {display: table-footer-group;}